<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LastLoginUser" value="hugo"/>
    <add key="DBName" value="20110928.db"/>
    <add key="DBPath" value="C:\Users\MyBackup\Documents\"/>
  </appSettings>

  <connectionStrings>
    <add name="MainSQLiteDB" connectionString="Data Source=C:\Temp\MyBackup\20110817.db" providerName="Sql.Data.Sqlite"/>
  </connectionStrings>
  
</configuration>