<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="LastLoginUser" value=""/>
    <add key="DBName" value=""/>
    <add key="DBPath" value=""/>
    <add key="NewProduct" value="YES"/>
  </appSettings>

  <connectionStrings>
    <add name="MainSQLiteDB" connectionString="Data Source=C:\Temp\MyBackup\20111103.db" providerName="Sql.Data.Sqlite"/>
  </connectionStrings>
  
</configuration>