<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MBBeta2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MBBeta2.SRSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="MBBeta2.SocialRewind" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    
  </appSettings>

  <connectionStrings>
    <add name="MainSQLiteDB" connectionString="Data Source=C:\Temp\MyBackup\20111103.db" providerName="Sql.Data.Sqlite"/>
  </connectionStrings>
  
  <userSettings>
    
    <MBBeta2.Properties.Settings>
      <setting name="DBName" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPath" serializeAs="String">
        <value />
      </setting>
      <setting name="NewProduct" serializeAs="String">
        <value>YES</value>
      </setting>
      <setting name="LastLoginUser" serializeAs="String">
        <value />
      </setting>
    </MBBeta2.Properties.Settings>
  </userSettings>
</configuration>