<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>

  <appSettings>
    <add key="MainDB" value="MBA_DB"/>
  </appSettings>

  <connectionStrings>
    <add name="MBA_DB" connectionString="data source=.;Integrated Security=SSPI;initial catalog=MyBackupAlfa" providerName="Sql.Data.SqlClient"/>
  </connectionStrings>
</configuration>